#### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. Youhave to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 job data.This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\user\anaconda3\lib\site-packages (4.12.0)
Requirement already satisfied: trio~=0.17 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\user\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.10.4)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\user\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: idna in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\user\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
driver = webdriver.Chrome()

In [4]:
driver.get(" https://www.shine.com/")

In [6]:
job_title = driver.find_element(By.CLASS_NAME,"form-control  ")
job_title.send_keys('Data Analyst')

In [7]:
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [8]:
search = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [9]:
job_title =[]
job_location = []
company_name = []
experience_required=[]

In [10]:
#scraping job title from given page
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    titles=i.text
    job_title.append(titles)
    
    
#scraping job location
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    locations=i.text
    job_location.append(locations)
#scraping compny name
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    companys=i.text
    company_name.append(companys)
#scraping experience
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [11]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Title,Location,Company,Experience
0,Senior Data Analyst,Bangalore\n+8,harjai computers private limited,0 to 2 Yrs
1,Hiring For Data Analyst,Bangalore\n+8,harjai computers private limited,2 to 5 Yrs
2,Data Analyst,Bangalore,true caller,3 to 5 Yrs
3,Clinical Data Analyst,Bangalore\n+4,quiscon biotech,0 to 2 Yrs
4,Mobility Data Analyst - IN/MKR,Bangalore,bosch group,4 to 6 Yrs
5,Senior Data Analyst,Bangalore,true caller,5 to 7 Yrs
6,Data Analyst,Bangalore\n+13,rama technical consultants,11 to 21 Yrs
7,"Data Engineer II, Amazon WFM Tech Enterprise Data",Bangalore,amazon,3 to 5 Yrs
8,Data Analyst - Java/Python,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
9,"Business Data Analyst, GlowRoad",Bangalore,amazon,1 to 3 Yrs

#### Q2:Write a python program to scrape data for “Data Scientist” Job position in“Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter thelocation” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [55]:
driver=webdriver.Chrome()

In [56]:
driver.get(" https://www.shine.com/")

In [57]:
job_position=driver.find_element(By.CLASS_NAME,"form-control  ")
job_position.send_keys('Data scientist')

In [58]:
job_location = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
job_location.send_keys('Bangalore')

In [59]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [60]:
job_title=[]
job_location=[]
company_name=[]

In [61]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]') 
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]') 
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [62]:

print(len(job_title),len(job_location),len(company_name))

10 10 10

In [63]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name})
df

,Title,Location,Company
0,Data Scientist,Bangalore,the fashion cosmo
1,SR. DATA SCIENTIST,Bangalore,te connectivity india pvt ltd
2,Senior Data Scientist- ML Engineer,Bangalore,sap india pvt ltd
3,Data Scientist Hiring Fresher and Experience,Bangalore\n+17,kavya staffing solutions
4,Data Scientist III,Bangalore,inmobi
5,Data Scientist,Bangalore\n+6,quiscon biotech
6,"Senior Data Scientist, AWS",Bangalore,amazon
7,Data Scientist Recruitment,Bangalore\n+17,kavya staffing solutions
8,Hiring For Data Scientist,Bangalore\n+17,kavya staffing solutions
9,Hiring For Data Scientist,Bangalore\n+17,kavya staffing solutions

#### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
6. Brand
7. ProductDescription
8. Price
The attributes which you have to scrape is ticked marked in the below image.

In [74]:
driver=webdriver.Chrome()

In [75]:
driver.get("https://www.flipkart.com/")

In [76]:
product=driver.find_element(By.CLASS_NAME,"Pke_EE")
product.send_keys('sunglasses')

In [77]:
search=driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [78]:
brand=[]

In [79]:
start=0
end=3
for page in range(start,end):
    brands=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brands[0:101]:
        brand.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(7)

In [80]:
len(brand)

120

In [81]:
product_description=[]

In [82]:
start=0
end=3
for page in range(start,end):
    products=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in products[0:101]:
        product_description.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(8)

In [83]:
len(product_description)

117

In [84]:
price=[]

In [85]:
start=0
end=3
for page in range(start,end):
    prices=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in prices[0:101]:
        price.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(8)

In [86]:
len(price)

120

In [87]:
import pandas as pd
df=pd.DataFrame({'Brand':brand,'price':price})
df

             Brand price
0         Fastrack  ₹549
1         Fastrack  ₹849
2         Fastrack  ₹649
3        Rich Club  ₹499
4          STACTOR  ₹799
..             ...   ...
115       Fastrack  ₹549
116  VINCENT CHASE  ₹499
117  VINCENT CHASE  ₹849
118      New Specs  ₹271
119  VINCENT CHASE  ₹849

[120 rows x 2 columns]

In [88]:
df=pd.DataFrame({'About_product':product_description})
df

                                         About_product
0          UV Protection Sports Sunglasses (Free Size)
1                UV Protection Aviator Sunglasses (62)
2    by Lenskart Polarized, UV Protection Retro Squ...
3     UV Protection Wrap-around Sunglasses (Free Size)
4               UV Protection Wayfarer Sunglasses (56)
..                                                 ...
112  Polarized, UV Protection Over-sized Sunglasses...
113             UV Protection Wayfarer Sunglasses (62)
114  Polarized, UV Protection Clubmaster Sunglasses...
115  Night Vision, UV Protection, Polarized Wrap-ar...
116  UV Protection, Gradient Retro Square Sunglasse...

[117 rows x 1 columns]

#### Q3: In this question you have to scrape data using the filters available on the webpage 
 You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.shine.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scrapeddata.

In [46]:
driver=webdriver.Chrome()

In [47]:
driver.get(" https://www.shine.com/")

In [48]:
job_title=driver.find_element(By.CLASS_NAME,  "form-control  ")
job_title.send_keys('Data Scientist')

In [49]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [50]:
job_title=[]
job_location=[]
company_name=[]
experience_requried=[]

In [51]:
#scraping job title from given page
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    titles=i.text
    job_title.append(titles)
    
    
#scraping job location
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    locations=i.text
    job_location.append(locations)
#scraping compny name
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    companys=i.text
    company_name.append(companys)
#scraping experience
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_requried.append(exp)

In [54]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_requried})
df

,Title,Location,Company,Experience
0,Data Scientist,Delhi\n+6,quiscon biotech,0 to 1 Yr
1,DATA SCIENTIST DELHI,Delhi,skyleaf consultants,3 to 6 Yrs
2,Data Scientist,Delhi\n+6,quiscon biotech,0 to 3 Yrs
3,DATA SCIENTIST DELHI,Delhi,skyleaf consultants,3 to 6 Yrs
4,DATA SCIENTIST DELHI,Delhi,skyleaf consultants,3 to 6 Yrs
5,Senior Data Engineer,Delhi\n+6,corporate steps..,2 to 4 Yrs
6,Hiring For Data Analyst,Delhi\n+8,harjai computers private limited,2 to 5 Yrs
7,Senior Data Analyst,Delhi\n+8,harjai computers private limited,0 to 2 Yrs
8,for _GCP Data Engineer/Lead/Architect- Delhi,Delhi,nina s hr consultancy,2 to 3 Yrs
9,for _GCP Data Engineer/Lead/Architect- Delhi,Delhi,nina s hr consultancy,2 to 3 Yrs

#### Q6: Scrape data forfirst 100 sneakers you find whenyou visit flipkart.com and search for “sneakers” inthe
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes.

In [31]:
driver=webdriver.Chrome()

In [32]:
driver.get("https://www.flipkart.com/")

In [33]:
product=driver.find_element(By.CLASS_NAME,"Pke_EE")
product.send_keys('sneakers')

In [34]:
search=driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [35]:
brand=[]

In [36]:
start=0
end=3
for page in range(start,end):
    brands=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brands[0:101]:
        brand.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [37]:
len(brand)

120

In [38]:
price=[]

In [39]:
start=0
end=3
for page in range(start,end):
    prices=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in prices[0:101]:
        price.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(6)

In [40]:
len(price)

120

In [41]:
product_description=[]

In [42]:
start=0
end=3
for page in range(start,end):
    products=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in products[0:101]:
        product_description.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(7)

In [43]:
len(product_description)

112

In [45]:
import pandas as pd
df=pd.DataFrame({'Brand':brand,'price':price})
df

               Brand   price
0           RapidBox    ₹636
1               ATOM  ₹1,485
2              asian    ₹764
3    U.S. POLO ASSN.    ₹528
4              Sparx    ₹587
..               ...     ...
115            asian    ₹622
116           Kraasa    ₹870
117           Kraasa  ₹1,599
118            asian    ₹539
119            Sparx    ₹839

[120 rows x 2 columns]

In [47]:
df=pd.DataFrame({'Description':product_description})
df

                                           Description
0    Fashionable Canvas Casual Partywear Outdoor Sn...
1                                     Sneakers For Men
2            Thunder-01 White Canvas, Sneakers For Men
3                             CLARKIN Sneakers For Men
4            Casual Partywear Outdoor Sneakers For Men
..                                                 ...
107                                 Sneakers For Women
108                         Radiant Sneakers For Women
109                          Series 7 Sneakers For Men
110  Achiever-15 Grey Sneakers,Loafers,Casuals,Synt...
111                          SL-170 Sneakers For Women

[112 rows x 1 columns]

#### Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe

In [15]:
driver=webdriver.Chrome()

In [16]:
driver.get("https://www.motor1.com/ ")

In [18]:
cars=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
cars.send_keys("50 most expensive cars")

In [19]:
search=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search.click()

In [20]:
car_name=[]

In [23]:
car_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car_tags:
    cars=i.text
    car_name.append(cars)

In [26]:
import pandas as pd
df=pd.DataFrame({'CAR_NAME':car_name})

In [27]:
df

                              CAR_NAME
0                  Aston Martin Valour
1                         McLaren Elva
2                          Czinger 21C
3                        Ferrari Monza
4                   Gordon Murray T.33
5                    Koenigsegg Gemera
6                          Zenvo TSR-S
7                   Hennessey Venom F5
8                      Bentley Bacalar
9        Hispano Suiza Carmen Boulogne
10              Bentley Mulliner Batur
11                        Deus Vayanne
12                         SSC Tuatara
13                         Lotus Evija
14                 Aston Martin Vulcan
15                          Delage D12
16                 Ferrari Daytona SP3
17                   McLaren Speedtail
18                        Rimac Nevera
19                       Pagani Utopia
20                Pininfarina Battista
21                  Gordon Murray T.50
22                Lamborghini Countach
23            Mercedes-AMG Project One
24                        Zenvo Aurora
25                 Aston Martin Victor
26         Hennessey Venom F5 Roadster
27                    Koenigsegg Jesko
28               Aston Martin Valkyrie
29           W Motors Lykan Hypersport
30                       McLaren Solus
31                    Lamborghini Sian
32                    Koenigsegg CC850
33     Bugatti Chiron Super Sport 300+
34                  Lamborghini Veneno
35                      Bugatti Bolide
36           Pininfarina B95 Speedster
37                     Bugatti Mistral
38                 Pagani Huayra Imola
39                        Bugatti Divo
40                 SP Automotive Chaos
41                    Pagani Codalunga
42                        777 Hypercar
43            Mercedes-Maybach Exelero
44                  Bugatti Centodieci
45             Bugatti Chiron Profilée
46                Rolls-Royce Sweptail
47            Bugatti La Voiture Noire
48              Rolls-Royce Boat Tail*
49  Rolls-Royce La Rose Noire Droptail
50    Most Expensive Cars In The World

#### in the above question price is not scrab by me plese send the solution

#### Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then
set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [29]:
driver=webdriver.Chrome()

In [30]:
driver.get(" https://www.amazon.in/")

In [35]:
enter=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
enter.send_keys('Laptop')

In [36]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [37]:
title=[]
rating=[]
price=[]

In [38]:
title_tags=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tags[0:10]:
    titles=i.text
    title.append(titles)
    
    
rating_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base puis-normal-weight-text"]') 
for i in rating_tags[0:10]:
    ratings=i.text
    rating.append(ratings)
    
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]') 
for i in price_tags[0:10]:
    prices=i.text
    price.append(prices)

In [39]:
print(len(title),len(rating),len(price))

10 10 10

In [40]:
import pandas as pd
df=pd.DataFrame({'Title':title,'Rating':rating,'price':price})
df

                                               Title Rating     price
0  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...    4.0    64,990
1  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...    4.3    66,990
2  ASUS TUF Gaming F15 (2023) 90WHr Battery, Inte...    4.4  1,12,999
3  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...    4.1    80,990
4  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...    4.2    68,919
5  Dell Inspiron 5430 Laptop, Intel Core i7-1360P...    3.3    86,490
6  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...    3.5    68,990
7  (Renewed) Lenovo Intel Core i7-4th Gen 14 Inch...    2.4    17,898
8  HP Victus Gaming Laptop, 12th Gen Intel Core i...    5.0    84,990
9  ASUS Creator Series Vivobook 14X OLED (2023), ...    4.5    89,990

#### Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [3]:
driver=webdriver.Chrome()

In [5]:
driver.get("https://www.flipkart.com")

In [6]:
product=driver.find_element(By.CLASS_NAME,"Pke_EE")
product.send_keys("apple-iphone-11-black-64-gb")

In [7]:
search=driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [8]:
rating=[]

In [11]:
start=0
end=10
for page in range(start,end):
    ratings=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in ratings[0:100]:
        rating.append(i.text)
        
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(6)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//a[@class="_1LKTO3"]"}
  (Session info: chrome=117.0.5938.89); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF6240C7892+54818]
	(No symbol) [0x00007FF624036AC2]
	(No symbol) [0x00007FF623EEDA3B]
	(No symbol) [0x00007FF623F2E4FC]
	(No symbol) [0x00007FF623F2E67C]
	(No symbol) [0x00007FF623F69627]
	(No symbol) [0x00007FF623F4EAEF]
	(No symbol) [0x00007FF623F675A2]
	(No symbol) [0x00007FF623F4E883]
	(No symbol) [0x00007FF623F23691]
	(No symbol) [0x00007FF623F248D4]
	GetHandleVerifier [0x00007FF62442B992+3610402]
	GetHandleVerifier [0x00007FF624481860+3962352]
	GetHandleVerifier [0x00007FF624479D4F+3930847]
	GetHandleVerifier [0x00007FF624163646+693206]
	(No symbol) [0x00007FF624041628]
	(No symbol) [0x00007FF62403D934]
	(No symbol) [0x00007FF62403DA62]
	(No symbol) [0x00007FF62402E113]
	BaseThreadInitThunk [0x00007FFB61BB7344+20]
	RtlUserThreadStart [0x00007FFB62DA26B1+33]

In [10]:
len(rating)

0

#### Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quote

In [19]:
driver=webdriver.Chrome()

In [20]:
driver.get("https://www.azquotes.com/")

In [21]:
touch=driver.find_element(By.CLASS_NAME,"ui-autocomplete-input")
touch.send_keys('TopQuotes')

In [24]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[2]/div[1]/div/form/input[3]")
search.click()

In [30]:
Type=[]

In [33]:
start=0
end=10
for page in range(start,end):
    types=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in types:
        Type.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'')
    next_button.click()
    time.sleep(3)

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=117.0.5938.89)
Stacktrace:
	GetHandleVerifier [0x00007FF6B68D7892+54818]
	(No symbol) [0x00007FF6B6846AC2]
	(No symbol) [0x00007FF6B66FD8ED]
	(No symbol) [0x00007FF6B673F8E5]
	(No symbol) [0x00007FF6B673571F]
	(No symbol) [0x00007FF6B675EAAA]
	(No symbol) [0x00007FF6B6735036]
	(No symbol) [0x00007FF6B675ECC0]
	(No symbol) [0x00007FF6B67775A2]
	(No symbol) [0x00007FF6B675E883]
	(No symbol) [0x00007FF6B6733691]
	(No symbol) [0x00007FF6B67348D4]
	GetHandleVerifier [0x00007FF6B6C3B992+3610402]
	GetHandleVerifier [0x00007FF6B6C91860+3962352]
	GetHandleVerifier [0x00007FF6B6C89D4F+3930847]
	GetHandleVerifier [0x00007FF6B6973646+693206]
	(No symbol) [0x00007FF6B6851628]
	(No symbol) [0x00007FF6B684D934]
	(No symbol) [0x00007FF6B684DA62]
	(No symbol) [0x00007FF6B683E113]
	BaseThreadInitThunk [0x00007FFB61BB7344+20]
	RtlUserThreadStart [0x00007FFB62DA26B1+33]

#### Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame

In [3]:
driver=webdriver.Chrome()

In [4]:
driver.get(" https://www.jagranjosh.com/")

In [48]:
NAME=[]

In [52]:
name_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td')
for i in name_tags:
    names=i.text
    NAME.append(names)

In [53]:
len(NAME)

98

In [54]:
import pandas as pd
df=pd.DataFrame({'NAME':NAME})
df

                                                 NAME
0                     List of all Presidents of India
1                                                  1.
2                                   Jawahar Lal Nehru
3                                         (1889–1964)
4   15 August 1947 to 27 May 1964\n16 years, 286 days
..                                                ...
93                                        (born 1950)
94                             30 May 2019- Incumbent
95  First non-congress PM with two consecutive ten...
96                    List of all Presidents of India
97        List of Nicknames of Indian Prime Ministers

[98 rows x 1 columns]